################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Actual-Competition/FileContentIndex/40b8fc21-9ba0-43a2-a9cf-a0e563167af7.vsidx
/.vs
